@layer components {
  .rainbow .char {
    font-size: 3.5rem;
    font-family: var(--header-title-font);
    color: hsl(calc(360deg * var(--char-percent)), 90%, 75%);

    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }

  .rainbow.animated .char {
    animation: rainbow-colors 2s linear infinite;
    animation-delay: calc(-2s * var(--char-percent));
  }
  .layout-header {
    @apply text-center z-1;
    @apply border-2 border-border rounded-t-md;
    @apply h-full;
    @apply flex justify-center items-center [grid-area:header];
    @apply bg-(image:--header-bg) bg-repeat;

    @media (max-width: 576px) {
      @apply mb-0;
    }

    @media (min-width: 1000px) {
      @apply rounded-t-3xl;
    }

    .header-title {
      @apply font-(--header-title-font) text-7xl m-0 p-2.5;

      @media (max-width: 768px) {
        @apply text-4xl;
      }

      @media (max-width: 576px) {
        @apply text-3xl;
      }

      @media (max-width: 400px) {
        @apply text-2xl;
      }

      a {
        @apply inline-block no-underline transition-transform duration-200 ease-in-out transform-none;

        &:hover,
        &:focus {
          @apply scale-[1.03];
        }
      }
    }
  }

  div[data-theme="rainbow"] {
    section.header-title-container h1.rainbow {
      font-size: 5rem;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: white;
    }
  }

  div[data-theme="pixel-princess"] {
    section.header-title-container h1.glitter {
      display: block;
      font-family: var(--header-title-font) !important;
      text-transform: lowercase;
      background-image: url("/images/bg/pinkglitter.gif");
      background-repeat: repeat;
      font-size: 3.5rem;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      filter: drop-shadow(1px 1px #fc36ba) drop-shadow(0 -1px #fc36ba)
        drop-shadow(1px 0 1px #fc36ba) drop-shadow(-1px 0 #fc36ba);

      @media (min-width: 768px) {
        font-size: 5rem;
      }
    }

    section.header-title-container h1.rainbow {
      display: none;
    }
  }
}
